/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

#main-header {
    margin-bottom: 125px;
}

.main-header-navbar {
    min-height: 75px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.jumbotron {
    min-height: 575px;
    background-color: #B4D0E7;
}

.subscriptions {
    margin-bottom: 125px;
}

.billing-selection {
    min-height: 125px;
    margin-bottom: 25px;
}

.subscriptions > .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.subscriptions .column {
    min-height: 750px;
    flex-basis: calc(100% / 3 - 50px / 3);
}

.subscriptions .column:last-child {
    min-height: 250px;
    flex-grow: 1;
}

.subscriptions .column, .billing-selection {
    border: 3px dashed #000;
}

.partner {
    min-height: 375px;
    flex-direction: row;
    border: 3px dashed #000;
    margin-bottom: 125px;
}

.partner > .image {
    background-color: #000;
    flex-basis: 60%;
}

.partner.info {
    flex-basis: 40%;
}

.operations {
    margin-bottom: 125px;
}

.operations > .title {
    min-height: 50px;
    margin-bottom: 25px;
}

.operations > .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.operations .column {
    min-height: 375px;
    flex-basis: calc(100% / 3 - 50px / 3);
}

.operations .column, .title {
    border: 3px dashed #000;
}

.clients {
    margin-bottom: 125px;
}

.clients > .info {
    min-height: 250px;
    border: 3px dashed #000;
}

/* Utilities */
.small-container {
    margin: 0 auto;
    max-width: 750px;
}

.large-container {
    margin: 0 auto;
    max-width: 1000px;
}

.flex {
    display: flex;
}