:root {
    --primary-color: #0061FF;
}

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
a {
    color: #000;
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 50px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
}

#main-header {
    margin-bottom: 150px;
}

#main-header > .navbar {
    min-height: 75px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: space-between;
    padding: 0 25px;
}

#main-header > .navbar > ul {
    gap: 25px;
}

#main-header > .navbar li {
    align-self: center;
}

#jumbotron {
    height: 725px;
    background-color: #B4D0E7;
    padding-top: 150px;
}

#jumbotron .btn {
    margin-bottom: 25px;
}

.fa-arrow-down {
    margin-top: 25px;
}

.subscriptions {
    margin-bottom: 125px;
}

.billing-selection {
    min-height: 125px;
    margin-bottom: 25px;
}

.subscriptions > .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.subscriptions .column {
    min-height: 750px;
    flex-basis: calc(100% / 3 - 50px / 3);
}

.subscriptions .column:last-child {
    min-height: 250px;
    flex-grow: 1;
}

.subscriptions .column, .billing-selection {
    border: 3px dashed #000;
}

section.partner {
    margin-bottom: 150px;
}

section.partner .column-40{
    padding: 50px;
}

.features {
    margin-bottom: 125px;
}

.features > .title {
    min-height: 50px;
    margin-bottom: 25px;
}

.features > .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.features .column {
    min-height: 375px;
    flex-basis: calc(100% / 3 - 50px / 3);
}

.features .column, .title {
    border: 3px dashed #000;
}

.clients {
    margin-bottom: 125px;
}

.clients > .info {
    min-height: 250px;
    border: 3px dashed #000;
}

.companies {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 125px;
}

.companies > div {
    flex-basis: calc(100% / 3);
}

.companies > .left-column, .right-column {
    flex-direction: row;
    flex-wrap: wrap;
}

.left-column > div, .right-column > div {
    min-height: 250px;
    flex-basis: calc(100% / 2);
}

.designit {
    background-color: #A2D39B;
}

.arizona-state-university {
    background-color: #61082B;
}

.university-of-florida {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.center-column {
    min-height: 500px;
    background-color: #F5F5F5;
}

.world-bicycle-relief {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely-planet {
    background-color: #0D2481;
}

.clear-channel-outdoor {
    background-color: #FFD830;
}

.full-column {
    min-height: 250px;
    background-color: #B4D0E7;
    flex-grow: 1;
}

.faq {
    margin-bottom: 125px;
}

.questions {
    min-height: 375px;
    border: 3px dashed #000;
}

#main-footer {
    background-color: #000;
}

.main-footer-navbar {
    min-height: 500px;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}

.main-footer-navbar > ul {
    min-height: 375px;
    flex-basis: 20%;
    border: 3px dashed #FFF;
}

/* Utilities */
.container-small {
    margin: 0 auto;
    max-width: 1000px;
}

.container-large {
    margin: 0 auto;
    max-width: 1080px;
}

/* Buttons */
.btn {
    color: #FFF;
    background-color: var(--primary-color);
    padding: 10px 15px;
}

.btn-secondary {
    color: #000;
    background-color: #FFF;
    border: 2px solid #000;
}

.btn-small {
    padding: 5px 15px;
}

/* Layout */
.flex {
    display: flex;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.row > .column-30 {
    flex-basis: 30%;
}

.row > .column-40 {
    flex-basis: 40%;
}

.row > .column-60 {
    flex-basis: 60%;
}

.row > .column-70 {
    flex-basis: 70%;
}